<h1>New Product</h1>
<%= form_for @product do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br />
  <%= f.label :price %>
  <%= f.text_field :price %>
  <br />
  <%= f.label :description %>
  <%= f.text_area :description %>
  <br />
  <%= f.label :inventory %>
  <%= f.text_field :inventory %>
  <%= f.submit "submit" %>
<% end %>

<div id="productResult">
  <h2 id="productName"></h2>
  <p id="productPrice"></p>
  <p id="productDesc"></p>
  <p id="productInventory"></p>
</div>

<script>
  $(function () {
    $('form').submit(function (event) {
      event.preventDefault()
      
      var values = $(this).serialize()
      var posting = $.post('/products', values)
      
      posting.done(function (p) {
        $('#productName').text(p['name'])
        $('#productPrice').text(p['price'])
        $('#productDesc').text(p['description'])
        
        var inventoryText = "Available";
        
        if(p.inventory === 0 ){
          inventoryText = "Sold Out"
        }
       $("#productInventory").text(p["inventory"]);
      })
    })
    
  })
  
</script>