<h1>New Product</h1>
<%= form_for @product do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br />
  <%= f.label :price %>
  <%= f.text_field :price %>
  <br />
  <%= f.label :description %>
  <%= f.text_area :description %>
  <br />
  <%= f.label :inventory %>
  <%= f.text_field :inventory %>
  <%= f.submit "submit" %>
<% end %>

<hr>
<div id="productResult">
  Name: <h2 id="productName"></h2>
  $ <p id="productPrice"></p>
  Inventory: <p id="productInventory"></p>
  Description: <p id="productDescription"></p>
</div>

<script type="text/javascript">
  $(function(){
    $("form").submit(function(event){
      event.preventDefault();
      var values = $(this).serialize();
      var new_product = $.post('/products', values);
      new_product.done(function(data){
      // var product = data;
      $('#productName').text(data["name"]);
      $('#productPrice').text(data["price"]);
      $('#productInventory').text(data["inventory"]);
      $('#productDescription').text(data["description"]);
      });
    });
  });
</script>