<h1>New Product</h1>
<%= form_for @product do |f| %>
<div class="field">
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br />
  </div>
  <div class="field">
  <%= f.label :price %>
  <%= f.text_field :price %>
  <br />
  </div>
  <div class="field">
  <%= f.label :description %>
  <%= f.text_area :description %>
  <br />
  </div>
  <div class="field">
  <%= f.label :inventory %>
  <%= f.text_field :inventory %>
  </div>
  <div class="actions">
  <%= f.submit "submit" %>
  </div>
<% end %>

<div id="productResult">
  <h2 id="productName"></h2>
  <p id="productDescription"></p>
  <p id="productPrice"></p>
</div>

<script type="text/javascript" charset="utf-8">
  $(function() {
    $('form').submit(function(e) {
      e.preventDefault();
      var values = $(this).serialize();
      var posting = $.post('/products', values);
      posting.done(function(data) {
        var product = data; 
        $("#productName").text(product["name"]);
        $("#productDescription").text(product["description"]);
        $("#productPrice").text(product["price"]);
      });
    });
  });
  </script>
