<h1>New Product</h1>
<%= form_for @product do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br />
  <%= f.label :price %>
  <%= f.text_field :price %>
  <br />
  <%= f.label :description %>
  <%= f.text_area :description %>
  <br />
  <%= f.label :inventory %>
  <%= f.text_field :inventory %>
  <%= f.submit "submit" %>
<% end %>

<div id="productSection">
  <h2 id="productName"></h2>
  <p id="productDescription"></p>
  <p id="productDeatails"></p> 
</div>

<script type="text/javascript">
  $(function(){
    $('form').submit(function(event){
      event.preventDefault();
      product_vals = $(this).serialize()

      var posting = $.post('/products', product_vals);

      posting.done(function(data){

        var product = data;
        var availability = parseInt(product["inventory"]) < 1 ? "Sold Out"  : "Available";
        var productAvailability = "<strong>Inventory: " + availability + "</strong></br>";
        var productPrice = "<strong>Price: $" + product["price"] + "</strong>"

        $('#productName').html(product["name"]);  
        $('#productDescription').html(product["description"]);  
        $('#productDeatails').html(productAvailability + productPrice);  
      }); 
    });
  });
</script>