<h1>New Product</h1>
<%= form_for @product do |f| %>
<div class="field">
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>
  <br />
<div class="field">
  <%= f.label :price %>
  <%= f.text_field :price %>
</div>

  <br />
<div class="field">

  <%= f.label :description %>
  <%= f.text_area :description %>
</div>

  <br />

<div class="actions">
  <%= f.submit "submit" %>
</div>
<% end %>

<div id="productResponse">
  <h1 id="productName"></h1>
    <p id="productPrice"></p>
    <p id="productDescription"></p>
</div>

<script type="text/javascript" >
  $(function(){
    $("form").submit(function(event){
      event.preventDefault();
      var values = $(this).serialize();
      var new_prod = $.post("/products", values)
      new_prod.done(function(data){
        var product = data;
        $("#productName").text(product["name"])
        $("#productPrice").text(product["price"])
        $("#productDescription").text("$" + product["description"])
      })
    })
  })
</script>