<h1>New Product</h1>
<%= form_for @product do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br />
  <%= f.label :price %>
  <%= f.text_field :price %>
  <br />
  <%= f.label :description %>
  <%= f.text_area :description %>
  <br />
  <%= f.label :inventory %>
  <%= f.text_field :inventory %>
  <%= f.submit "submit" %>
<% end %>

<h2 id="productName"></h2>
<p id="productDescription"></p>
<p id="productPrice"></p>
<p id="productInventory"></p>

<script type="text/javascript">
  $(function () {
    $('form').submit(function(e) {
      e.preventDefault();
      var values = $(this).serialize();
      var postRequest = $.post('/products', values);
      postRequest.done(function(data) {
        $("#productName").html(data["name"]);
        $("#productDescription").html(data["description"]);
        $("#productPrice").html("$" + data["price"]);
        $("#productInventory").html(data["inventory"]);
      })
    })
  });
</script>
