<h1>New Product</h1>
<%= form_for @product do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br />
  <%= f.label :price %>
  <%= f.text_field :price %>
  <br />
  <%= f.label :description %>
  <%= f.text_area :description %>
  <br />
  <%= f.label :inventory %>
  <%= f.text_field :inventory %>
  <%= f.submit "submit" %>
<% end %>

<div id="new-product">
  <h1 id="product-name"></h1>
  <p id="product-price"></p>
  <p id="product-description"></p>
  <p id="product-inventory"></p>
</div>


<script type="text/javascript">
  $(function(){
    $('form').submit(function(event){
      event.preventDefault();
      var values = $(this).serialize();
      var posting = $.post('/products', values);
      posting.done(function(data){
        var product = data['product'];
        $('#product-name').text(product['name']);
        $('#product-price').text("$" + product['price']);
        $('#product-description').text(product['description']);
        $('#product-inventory').text(product['inventory']);id
      });
    });
  });
</script>