<h1>New Product</h1>
<%= form_for @product do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br />
  <%= f.label :price %>
  <%= f.text_field :price %>
  <br />
  <%= f.label :description %>
  <%= f.text_area :description %>
  <br />
  <%= f.label :inventory %>
  <%= f.text_field :inventory %>
  <%= f.submit "submit" %>
<% end %>

<h1 id='productName'></h1>
<span id='productPrice'></span>
<div id='productDescription'></div>

<script type="text/javascript" charset="utf-8">
  $(function() {
    $('form').submit(function(e) {
      e.preventDefault();
      var formValues = $(this).serialize();
      $.post('/products.json', formValues).done(function(data) {
        $('#productName').text(data["name"]);
        $('#productPrice').text(data["price"]);
        $('#productDescription').text(data["description"]);
      });
    });
  });
</script>
