<h1>New Product</h1>
<%= form_for @product do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br />
  <%= f.label :price %>
  <%= f.text_field :price %>
  <br />
  <%= f.label :description %>
  <%= f.text_area :description %>
  <br />
  <%= f.label :inventory %>
  <%= f.text_field :inventory %>
  <%= f.submit "submit" %>
<% end %>

<div id="newProduct"></div>

<script type="text/javascript">
  $(function(){
    $('form').submit(function(event) {
      event.preventDefault();

      var values = $(this).serialize();
      var posting = $.post('/products', values);

      posting.done(function(product) {
        var name = product["name"];
        var description = product["description"];
        var price = "$" + product["price"];
        $("#newProduct").html("<p>Name: " + name + "</p><p>Description: " + description + "</p><p>Price: " + price + "</p>");
      });
    });
  });
</script>
