<h1>New Product</h1>
<%= form_for @product do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br />
  <%= f.label :price %>
  <%= f.text_field :price %>
  <br />
  <%= f.label :description %>
  <%= f.text_area :description %>
  <br />
  <%= f.label :inventory %>
  <%= f.text_field :inventory %>
  <%= f.submit "submit" %>
<% end %>

<div class="new-product">
  <p class="name"></p>
  <p class="description"></p>
  <p class="price"></p>
  <p class="inventory"></p>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('form').on("submit", function(e) {
      e.preventDefault()
      data = $(this).serialize()

      $.ajax({
        url: $(this).attr("action"),
        type: "POST",
        data: data,
        dataType: "json"
      })
      .done(function(response) {
        console.log(response)
        $(".name").text(response["name"])
        $(".description").text(response["description"])
        $(".price").text("$" + response["price"])
        $(".inventory").text(response["inventory"])
      })
    })
  })
</script>
