<h1>New Product</h1>
<%= form_for @product do |f| %>
  <%= f.label :name %><br>
  <%= f.text_field :name %><br>
  <br />
  <%= f.label :price %><br>
  <%= f.text_field :price %><br>
  <br />
  <%= f.label :description %><br>
  <%= f.text_area :description %><br>
  <br />
  <%= f.label :inventory %><br>
  <%= f.text_field :inventory %><br>
  <%= f.submit "submit" %>
<% end %>


<div id="newProduct">
  <h2 id="productName"></h2>
  <div id="productPrice"></div>
  <div id="productInventory"></div>
  <div id="productDescription"></div>
</div>


<script type="text/javascript" charset="utf-8">
  $(function() {
    $('form').submit(function(event) {
      event.preventDefault();
      var values = $(this).serialize();
      var posting = $.post('/products', values);
      posting.done(function(data) {
        var product = data;
        $("#productName").text(product["name"]);
        var price = "$" + (product["price"])
        $("#productPrice").text(price);
        $("#productInventory").text(product["inventory"]);
        $("#productDescription").text(product["description"]);
      })
    })
  })
</script>