<h1>New Product</h1>
<%= form_for @product do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br />
  <%= f.label :price %>
  <%= f.text_field :price %>
  <br />
  <%= f.label :description %>
  <%= f.text_area :description %>
  <br />
  <%= f.label :inventory %>
  <%= f.text_field :inventory %>
  <%= f.submit "submit" %>
<% end %>

<div class="product">
  <p class="name"></p>
  <p class="price"></p>
  <p class="inventory"></p>
  <p class="description"></p>
</div>

<script type="text/javascript" charset="utf-8">
  $(function () {
    $('form').submit(function(event) {
      event.preventDefault();

      const values = $(this).serialize();
      const posting = $.post('/products', values);

      posting.done(function(data) {
        const product = data;
        $(".name").text(product["name"])
        $(".price").text(product["price"])
        $(".inventory").text(product["inventory"])
        $(".description").text(product["description"])
      });
    });
  });
</script>
